#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
div.App {
    display: flex;
    flex-direction: column;
}
.post {
    background-color: aliceblue;
    border-radius: 1rem;
    width: 260px;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}
.title {
    background-color: lightgray;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.body {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.footer {
    font-size: 1rem;
    color: gray;
    margin-top: 1rem;
}
